.footer {
    position: relative;
}
.container {
}
.footer__info {
    padding-left: 136px;
    padding-top: 10px;
}
.logo-2 {
    width: 250px;
    height: 80px;
    margin-bottom: 0;
    
}
.footer__desc {
    color: #645C55;
    margin-top: 0px;
}
.footer__icons {
    position: absolute;
    right: 136px;
    top: 100px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.footer__icon {
    width: 25px;
    height: 25px;
}