
.info {
    padding: 30px 0;
    display: flex;
}

.info__title {
    flex-shrink: 0;
    width: 180px;

}

.wrapper__info {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 60px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 96px 0;
} 

.title {
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: var(--co-light-black);
    margin-top: 96px;
    margin: 0;
}
.info__desc {
    flex: 1;
    max-width: 500px;

}

.text {
margin: 0 0 16px 0;

}

.info__profile-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 25px;
}

.pic {
    width: 80px;
    height: 80px;
    top: 1px;
    left: 0.24px; 
    border-radius: 50px;
    border: 3px solid var(--co-light-brown);
    object-fit: cover;
    z-index: 10;
}

.info__profile {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.info__name {
    font-size: 17px;
    font-weight: 400;
    color: #1B1A1A;
}
.info__role {
    font-size: 14px;
    font-weight: 400;
    color: #645C55;
}

.info__text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}