.staircase-2 {
    position: relative;
}
.staricase-2__pic {
}
.staircase-2__info {
    position: absolute;
    max-width: 300px;
    top: 286px;
    left: 60px;
}
.staicase__title {
}
.staircase__desc {
}